 .main {
  margin: 0px;
}
#nav {
  display: flex;
  justify-content: space-between;
  padding-left: 20px;
  padding-right: 20px;
}

.menu {
  display: flex;
  flex-direction: row;
  align-items: stretch; /* Default */
  justify-content: space-between;
}

#banner {
  background-image: url("../images/landing.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  height: 600px;
}

.banner-title {
  color: white;
  text-align: center;
  margin-top: 150px;
  font-size: 75px;
  font-weight: 300;
}
.banner-text {
  color: white;
  text-align: center;
  font-size: 25px;
  font-weight: 100;
}

.title-text-div {
  display: flex;
  flex-direction: column;

  align-content: center;
}

.description-img {
  width: 100px;
  height: 100px;
  top: 50%;
  left: 50%;
}


.spotify-section {
  display: flex;
  flex-direction: column;
  align-content: center;
}
.spotify-section-title {
  text-align: center;
  font-size: 30px;
  padding:20px
}
hr.rounded {
  border-top: 3px solid #3C9C58;;
  border-radius: 5px;
  color: #5DC555;
  margin-top: -10px;

 width: 25%;

}
hr.rounded {
  border-top: 3px solid #3C9C58;;
  border-radius: 5px;
  color: white;
  margin-top: -10px;
  width: 25%;

}
hr.rounded-green{
  border-top: 1px solid white;
  border-radius: 5px;
  color: white;
  margin-top: -10px;
  width: 75%;
 
}
.spotify-section-desc {

  display: flex;

  justify-content: space-around;
  margin: 0 auto;
  padding:20px;
  margin:20px
}

.spotify-section-title-desc {
  color: #5DC555;
  font-size: 20px;
  text-align: center;
}

.box {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  padding: 20px;
}

.paragraph {
  color: gray;
  padding-left: 40px;
  padding-right: 40px;
  font-size: 20px;
  font-weight:300;
  text-align: center;
}

#green-section{
  background-color: #3C9C58;
  display: flex;
  justify-content: space-around;
  align-content: center;
  padding:50px;
  padding-right: 75px;
  padding-left: 75px;

}


.green-section-div {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-content: center;
  width: 30%;
}


.white-logo {
  width: 100px;
  height: 100px;
}

.app-img {
  width: 300px;
  height: 450px;
}

.green-section-tittle {
  color: white;
  text-decoration: underline;
  text-underline-offset: 3px;
}

.green-section-h3 {
  color: white
}

.green-section-p{
  color: white;
  font-weight: 100;
}

.green-section-div-img {
  display: flex;
  flex-direction: column;
  align-self: center;
  margin: 0 auto;
  top:50%;
  width: 20%;
  padding-left: 25px;

}